#!/usr/bin/env ruby

compile '/posts/**/*.html' do
  layout '/post.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/til/**/*.html' do
  layout '/til.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/*.erb' do
  filter :erb
  layout '/basic.*'
end

compile '/**/*.html' do
  layout '/default.*'
end

route '/**/*.{html,md,erb,html}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.{css,js}' do
  write item.identifier.to_s
end

layout '/**/*', :erb
