#!/usr/bin/env ruby

compile '/{posts,til}/**/*.html' do
  layout '/post.*'
  filter :typogruby
end

compile '/{posts,til}/**/*.md' do
  filter :colorize_syntax
  filter :kramdown
  layout '/post.*'
  filter :typogruby
end

compile '/*.erb' do
  filter :erb
  layout '/basic.*'
  filter :typogruby
end

compile '/**/*.html' do
  layout '/basic.*'
end

compile '/static/**/*' do
end

route "/static/**/*" do
  item.identifier.to_s
end

route '/index.erb' do
  '/index.html'
end

route '/**/*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
