<h1 class="f1 mb1">Sam Starling <span class="fw3 black-50">&middot; About me</span></h1>
<div class="f5 f4-ns lh-copy measure">
  <p class="f3 black-60 mb0">I'm Sam, a freelance software engineer based in Berlin, Germany, where I've lived since January 2015.</p>
  <p>I was born and grew up in the UK, where I studied Computer Science at the University of Manchester. Since then, I've worked for <a href="#">Folder Media</a>, the <a href="#">BBC</a>, and <a href="#">SoundCloud</a>.</p>
  <p>I've been focussed mostly on back-end development, writing APIs for other teams to build their products on top of, mostly in Scala and Ruby. I'm more than comfortable with Javascript, HTML, and CSS, and recently I've been trying to keep up with the latest developments in the world of front-end. I'm keen on building software that enables quick iteration, and of using <a href="http://mcfunley.com/choose-boring-technology">boring technology</a>.</p>
  <p>I'm currently looking for freelance gigs. If you think you've got something I'd find interesting, <a href="mailto:hello@samstarling.co.uk">send me an e-mail</a>.</p>
</div>
