<h1 class="f1 mb1 fw3 black-40">Sam Starling <span class="fw5 black-70">&middot; About</span></h1>
<div class="f5 f4-ns lh-copy measure">
  <p class="f3 black-60">I'm Sam, a freelance software engineer based in Berlin, Germany, where I've lived since January 2015.</p>
</div>
<figure class="ma0">
  <img src="/static/profile.jpg" class="w-100 mw7" alt="Sam at Tempelhof Airport, Berlin">
  <figcaption class="f6 mt1 black-30 tracked ttu">Taken by James at Tempelhof Airport</figcaption>
</figure>
<div class="f5 f4-ns lh-copy measure">
  <p>I was born and grew up in the UK, where I studied Computer Science at the University of Manchester. Since then, I've worked for <a href="#">Folder Media</a>, the <a href="#">BBC</a>, and <a href="#">SoundCloud</a>.</p>
  <p>I've been focussed mostly on back-end development, writing APIs for other teams to build their products on top of, mostly in Scala and Ruby. I'm more than comfortable with Javascript, HTML, and CSS, and recently I've been trying to keep up with the latest developments in the world of front-end. I'm keen on building software that enables quick iteration, and of using <a href="http://mcfunley.com/choose-boring-technology">boring technology</a>.</p>
  <p>I'm currently looking for freelance gigs. If you think you've got something I'd find interesting, <a href="mailto:hello@samstarling.co.uk">send me an e-mail</a>.</p>
  <p class="black-30">Want more detail? See <a href="https://www.linkedin.com/in/samstarling/">my LinkedIn page</a>.</p>
</div>
