<div class="f5 f4-ns lh-copy measure">
  <p class="mt0 f3">
    Hello, I'm Sam &mdash; a software engineer based in London. I have a wide range of experience, from back-end to front-end, across a variety of languages and technologies.
  </p>

  <p>I'm looking for new projects at the moment, so <a href="mailto:hello@samstarling.co.uk">let's talk about how I could help you</a>. You can also find me on <a href="http://twitter.com/samstarling">Twitter</a>, <a href="http://linkedin.com/in/samstarling">LinkedIn</a> and <a href="http://github.com/samstarling">GitHub</a>.
  <p>I'm blogging about things I learn on my <a href="/til">TIL</a> page. The latest post is &ldquo;<%= link_to(latest_til[:title], latest_til) %>&rdquo;.</p>

  <h2 class="mt4 f3">Latest posts</h2>
  <ul>
  <% article_list.each do |post| %>
    <li class="mb1">
      <div><%= link_to(post[:title], post) %></div>
      <div class="black-40 f6"><%= friendly_date_for(post[:created_at]) %></div>
    </li>
  <% end %>
  </ul>
</div>
