---
title: Projects
---

<p class="ma0 lh-copy black-50">A bit of detail on the freelance work that I've been doing lately.</p>

<div class="mt3 mt4-ns">
  <div class="f5 f4-ns mb4">
    <div class="w-100">
      <div class="w-100 w-50-ns fl-ns mt2 mt0-ns bg-black pa4 white br3">
        <h2 class="ma0 mb2 f3 fw5">IDAGIO</h2>
        <p class="ma0 mb2 lh-copy">I've been working with classical music streaming service IDAGIO to improve the internal tools they use to administer their catalogue of content.</p>
        <p class="ma0 f6 white-50">React &middot; Ruby &middot; Go</p>
      </div>
    </div>
    <div class="cf"></div>
  </div>
  <div class="f5 f4-ns mb4">
    <div class="w-100">
      <div class="w-100 w-50-ns fl-ns mt2 mt0-ns logo--kwara pa4 white br3">
        <h2 class="ma0 mb2 f3 fw5">Kwara</h2>
        <p class="ma0 mb2 lh-copy">Kwara are building user-focussed accounting software for credit unions. Half in Berlin and half in Nairobi, I've been helping them to build a high-fidelity prototype they can show to potential users, as well as putting on my product hat and helping to scope out the MVP.</p>
        <p class="ma0 f6 white-50">Ruby on Rails &middot; React &middot; API</p>
      </div>
    </div>
    <div class="cf"></div>
  </div>
  <div class="f5 f4-ns">
    <div class="w-100">
      <div class="w-100 w-50-ns fl-ns mt2 mt0-ns logo--mbst pa4 white br3">
        <h2 class="ma0 mb2 f3 fw5">MetaBroadcast</h2>
        <p class="ma0 mb2 lh-copy">MetaBroadcast crunch TV metadata, and I played a part in delivering an API that allowed issues with content to be tracked. Speed and accuracy were key, to allow users to see an accurate picture of what was wrong and why.</p>
        <p class="ma0 f6 white-50">Java &middot; Cassandra &middot; Kubernetes</p>
      </div>
    </div>
    <div class="cf"></div>
  </div>
</div>

