body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  color: #5A7DC2;
  border-bottom: 1px solid;
}

h1, h2, h3, h4, h5, h6 {
  color: #495456;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p, li {
  line-height: 1.5;
}

.HomeHeading {
  margin: 1em 0 -0.2em 0;
}

.PostList {

}

.PostList--date {
  color: #aaa;
  font-size: 0.85em;
}

.PostHeading {

}

.PostHeading--title {

}

.PostHeading--date {
  color: #aaa;
  margin: -1em 0 2em 0;
}
