<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title_tag(item) %></title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name="google-site-verification" content="H_FiFYlDsR8MHqDJL9fFo06j_h0Wj4gzfTvxrFYTBYg" />
  </head>
  <body class="sans-serif w-100 black-70">
    <nav class="bb b--black-10">
      <div class="pa3 ph5-ns f6">
        <a href="/">Home</a>
        <span class="mr1 ml1">&middot;</span>
        <a href="/about">About</a>
        <span class="mr1 ml1">&middot;</span>
        <a href="/til">TIL</a>
        <span class="mr1 ml1">&middot;</span>
        <a href="mailto:hello@samstarling.co.uk">Contact</a>
      </div>
    </nav>
    <div class="pa3 ph5-ns">
      <%= yield %>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109282190-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109282190-1');
    </script>
  </body>
</html>
