<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title_tag(item) %></title>
    <link rel="stylesheet" href="/static/tachyons.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name="google-site-verification" content="H_FiFYlDsR8MHqDJL9fFo06j_h0Wj4gzfTvxrFYTBYg" />
  </head>
  <body class="inter w-100 black-70">
  <header class="bb b--black-10 pb4 pv3 pv4-ns mb1 mb4-ns bn-ns gradient">
    <div class="pa3 ph5-ns">
      <div class="flex flex-column flex-row-ns items-center">
        <img
          src="https://secure.gravatar.com/avatar/5b5cd42baeac57dd9eda6d86689df9db?s=320"
          class="w3 br-pill mr3-ns"
        />
        <div class="tc tl-ns">
          <h1 class="mt2 mt0-ns f4 ma0">Sam Starling</h1>
          <nav class="mt2">
            <ul class="list">
              <li class="mr3"><a class="black-50" href="/">Home</a></li>
              <li class="mr3"><a class="black-50" href="/about">About</a></li>
              <li class="mr3"><a class="black-50" href="/projects">Work</a></li>
              <li><a class="black-50" href="/til">TIL</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    </div>
    <main class="pa3 pb5-ns ph5-ns">
      <%= yield %>
    </main>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109282190-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109282190-1');
    </script>
  </body>
</html>
