<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sam Starling</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name="google-site-verification" content="H_FiFYlDsR8MHqDJL9fFo06j_h0Wj4gzfTvxrFYTBYg" />
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
