<% render '/_base.*' do %>
  <h1 class="f2 f1-ns mb1"><%= item[:title] %></h1>
  <h2 class="f3 mb4 mt0 black-30"><%= friendly_date_for(item[:created_at]) %></h2>
  <article class="f5 f4-ns lh-copy measure">
    <%= yield %>
  </article>
<% end %>
