<% render '/_base.*' do %>
  <h1 class="f2 f1-ns mb1"><%= item[:title] %></h1>
  <div class="f3 mb4 black-50"><%= friendly_date_for(item[:created_at]) %></div>
  <div class="f5 f4-ns lh-copy measure">
    <%= yield %>
  </div>
<% end %>
