@import url("https://rsms.me/inter/inter-ui.css");

.inter {
  font-family: "Inter UI", sans-serif;
}

#main a {
  text-decoration: none;
  border-bottom: 1px solid #357edd;
  color: #357edd;
}

#main a:focus {
  background: #eee;
}

#main a:hover {
  border-bottom: none;
}

p code {
  font-size: 93%;
}

.logo--mbst {
  background-color: #306;
}

.logo--kwara {
  background-color: #5d555c;
}
