@import url("https://rsms.me/inter/inter-ui.css");

.inter {
  font-family: "Inter UI", sans-serif;
}

main a {
  text-decoration: none;
  border-bottom: 1px solid #357edd;
  color: #357edd;
}

main a:focus {
  background: #eee;
}

main a:hover {
  border-bottom: none;
}

p code {
  font-size: 93%;
}

.logo--mbst {
  background-color: #306;
}

.logo--kwara {
  background-color: #5d555c;
}

pre code .comment {
  color: #aaa;
}

pre code .reserved {
  color: hsl(5, 74%, 59%);
}

pre code .key {
  color: hsl(198, 99%, 37%);
}

pre code .keyword {
  color: hsl(221, 87%, 60%);
}

pre code .string {
  color: hsl(119, 34%, 47%);
}

pre code .tag {
  color: hsl(301, 63%, 40%);
}

pre code .local-variable {
  color: hsl(41, 99%, 30%);
}
